<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>\\begin{itemize}

    \\item ${1:premier item}
    $0
    
\\end{itemize}</string>
	<key>name</key>
	<string>Itemize (itemize)</string>
	<key>scope</key>
	<string>text.latex</string>
	<key>tabTrigger</key>
	<string>itemize</string>
	<key>uuid</key>
	<string>BC8B97E6-5F16-11D9-B9C3-000D93589AF6</string>
</dict>
</plist>
