<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>\\begin{tabular}{${1:colums}}
	${2:element}
\\end{tabular}</string>
	<key>name</key>
	<string>Tabular (Latex)</string>
	<key>scope</key>
	<string>text.latex</string>
	<key>tabTrigger</key>
	<string>Tabular</string>
	<key>uuid</key>
	<string>BC8B99DF-5F16-11D9-B9C3-000D93589AF6</string>
</dict>
</plist>
