<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>\\begin{figure}

	\\includegraphics[width=${2:12cm}]{${3:file}}

	\\caption{${4:légende}}
	\\label{${1:étiquette}}
\\end{figure}</string>
	<key>name</key>
	<string>Figure (Latex)</string>
	<key>trigger</key>
	<string>Fig</string>
	<key>uuid</key>
	<string>BC8B9A5E-5F16-11D9-B9C3-000D93589AF6</string>
</dict>
</plist>
