<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>\\begin{table}
	\\caption{${2:légende}}

	\\begin{center}
	\\begin{tabular}{${3:c}}
	      ${4:élément}
     \\end{tabular}
	\\end{center}

	\\label{${1:étiquette}}
\\end{table}</string>
	<key>name</key>
	<string>Table (Latex)</string>
	<key>trigger</key>
	<string>Table</string>
	<key>uuid</key>
	<string>BC8B9AD6-5F16-11D9-B9C3-000D93589AF6</string>
</dict>
</plist>
