<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>\\cite{${1:citation}}</string>
	<key>name</key>
	<string>\cite (cite)</string>
	<key>scope</key>
	<string>text.latex</string>
	<key>tabTrigger</key>
	<string>cite</string>
	<key>uuid</key>
	<string>D2B3654C-BE5B-11D9-8702-000A95766570</string>
</dict>
</plist>
