<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>{\\textit ${1:italic text...}}</string>
	<key>name</key>
	<string>\texttt .. (ttt)</string>
	<key>scope</key>
	<string>text.latex</string>
	<key>tabTrigger</key>
	<string>ttt</string>
	<key>uuid</key>
	<string>74A5079E-BE5B-11D9-8702-000A95766570</string>
</dict>
</plist>
