<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>\\index{`printenv TM_CURRENT_WORD|sed 's/\$/\\$/g'`}$0</string>
	<key>keyEquivalent</key>
	<string>^I</string>
	<key>name</key>
	<string>Add word to index</string>
	<key>scope</key>
	<string>text.latex</string>
	<key>uuid</key>
	<string>481BE2B9-E60D-4B9D-BC2A-99590C459C12</string>
</dict>
</plist>
