<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>\index{$TM_CURRENT_WORD}</string>
	<key>keyEquivalent</key>
	<string>^I</string>
	<key>name</key>
	<string>Add Word to Index</string>
	<key>scope</key>
	<string>text.latex</string>
	<key>uuid</key>
	<string>FE48EF7B-5F2B-4516-8FFA-3450D51F2B72</string>
</dict>
</plist>
