<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>\\lstinline{${1:code}}</string>
	<key>name</key>
	<string>Code Listing inline (Latex)</string>
	<key>scope</key>
	<string>text.latex</string>
	<key>tabTrigger</key>
	<string>li</string>
	<key>uuid</key>
	<string>38C6B6F4-80FB-11D9-9CB2-000A95766570</string>
</dict>
</plist>
