<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>\\begin{definition}\\label{def:${1:label}}
	${0:definition}
\\end{definition}</string>
	<key>name</key>
	<string>Definition (def)</string>
	<key>scope</key>
	<string>text.latex</string>
	<key>tabTrigger</key>
	<string>def</string>
	<key>uuid</key>
	<string>8C7C6A50-BF3C-11D9-B8CC-000A95C0F626</string>
</dict>
</plist>
