<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>\\begin{equation*}
	${1:equation}
\\end{equation*}</string>
	<key>name</key>
	<string>Equation * (eq*)</string>
	<key>scope</key>
	<string>text.latex</string>
	<key>tabTrigger</key>
	<string>eq*</string>
	<key>uuid</key>
	<string>81BA55B3-C8F5-11D9-AFB2-000A95C0F626</string>
</dict>
</plist>
