<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>\\begin{example}
	${0:text}
\\end{example}</string>
	<key>name</key>
	<string>Example (exa)</string>
	<key>scope</key>
	<string>text.latex</string>
	<key>tabTrigger</key>
	<string>exa</string>
	<key>uuid</key>
	<string>F2035FDA-BF42-11D9-B8CC-000A95C0F626</string>
</dict>
</plist>
