<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>\\begin{figure}[${1:htbp}]
	\\begin{center}
		\\includegraphics[scale=${2:3in}]{${3:file}}
	\\end{center}
	\\caption{${4:caption}}
	\\label{fig:${5:label}}
\\end{figure}</string>
	<key>name</key>
	<string>Figure (fig)</string>
	<key>scope</key>
	<string>text.latex</string>
	<key>tabTrigger</key>
	<string>fig</string>
	<key>uuid</key>
	<string>BC8B9A5E-5F16-11D9-B9C3-000D93589AF6</string>
</dict>
</plist>
