<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>\\begin{lemma}\\label{lem:${1:label}}
	${0:lemma}
\\end{lemma}</string>
	<key>name</key>
	<string>Lemma (lem)</string>
	<key>scope</key>
	<string>text.latex</string>
	<key>tabTrigger</key>
	<string>lem</string>
	<key>uuid</key>
	<string>8DC7E6A0-BF3C-11D9-B8CC-000A95C0F626</string>
</dict>
</plist>
