<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>\\begin{theorem}\\label{thm:${1:label}}
	${0:theorem}
\\end{theorem}</string>
	<key>name</key>
	<string>Theorem (thm)</string>
	<key>scope</key>
	<string>text.latex</string>
	<key>tabTrigger</key>
	<string>thm</string>
	<key>uuid</key>
	<string>8EB13A12-BF3C-11D9-B8CC-000A95C0F626</string>
</dict>
</plist>
