<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Latex</string>
	<key>uuid</key>
	<string>46788DCE-6227-11D9-BFB1-000D93589AF6</string>
</dict>
</plist>
