{
    backgroundColor = "#ffffff"; 
    fileTypes = (bib); 
    foldingStartMarker = "\\@[a-zA-Z]+\\{.+,"; 
    foldingStopMarker = "\\}"; 
    foregroundColor = "#333333"; 
    highlightPairs = (("(", ")"), ("[", "]"), ("{", "}"), ("\"", "\"")); 
    name = Bibtex; 
    scopeName = "source.bibtex";
    patterns = (
        {
            fontStyle = (underline); 
            foregroundColor = "#0000CC"; 
            match = "^\\@[a-zA-Z]+"; 
            name = "keyword.bibtex.entries"; 
        }, 
        {
            begin = "(^|[^\\\\])\\$"; 
            end = "\\$"; 
            foregroundColor = "#00AA00"; 
            name = "string.bibtex.equation.linemath.$"; 
        }, 
        {
            begin = "\\\\cite[np]*\\{"; 
            end = "\\}"; 
            fontStyle = (underline); 
            foregroundColor = "#6600CC"; 
            name = "keyword.bibtex.citations"; 
        }, 
        {
            fontStyle = (bold); 
            foregroundColor = "#000AEE"; 
            match = "\\\\\\w*"; 
            name = "keyword.function.bibtex"; 
        }, 
        {
            fontStyle = (italic); 
            foregroundColor = "#00AA00"; 
            match = "[a-zA-Z]+\\s*\\="; 
            name = "keyword.bibtex.keys"; 
        },
        {
            name = "constant.character.bibtex";
            match = "\\\\[^a-zA-Z\n]";
        },
        {
            fontStyle = (italic); 
            foregroundColor = "#999999"; 
            match = "%.*$"; 
            name = "comment.line.percentage.bibtex"; 
        }, 
    ); 
    smartTypingPairs = (("(", ")"), ("[", "]"), ("{", "}"), ("\"", "\"")); 
    uuid = "47F30BA1-6B1D-11D9-9A60-000D93589AF6"; 
}
