<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fileTypes</key>
	<array>
		<string>sty</string>
		<string>cls</string>
	</array>
	<key>foldingStartMarker</key>
	<string>/\*\*|\{\s*$</string>
	<key>foldingStopMarker</key>
	<string>\*\*/|^\s*\}</string>
	<key>name</key>
	<string>TeX</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>match</key>
			<string>\\\b(if|ifcase|ifcat|ifdim|ifeof|iffalse|ifhbox|ifhmode|ifinner|ifmmode|ifnum|ifodd|ftrue|ifundefined|ifvbox|ifvmode|ifvoid|ifx|else|fi|frontmatter|mainmatter|backmatter)\b</string>
			<key>name</key>
			<string>keyword.control.tex</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\\\bcatcode`\\.=\d+</string>
			<key>name</key>
			<string>keyword.control.catcode.tex</string>
		</dict>
		<dict>
			<key>match</key>
			<string>%:.*$\n?</string>
			<key>name</key>
			<string>comment.line.percentage.semicolon.texshop.tex</string>
		</dict>
		<dict>
			<key>match</key>
			<string>%.*$\n?</string>
			<key>name</key>
			<string>comment.line.percentage.tex</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\\\b(newcommand|renewcommand)\b</string>
			<key>name</key>
			<string>storage.type.function.tex</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>\{</string>
			<key>captures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>keyword.operator.braces.tex</string>
				</dict>
			</dict>
			<key>end</key>
			<string>\}</string>
			<key>name</key>
			<string>meta.group.braces.tex</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>$base</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>match</key>
			<string>[\[\]]</string>
			<key>name</key>
			<string>keyword.operator.brackets.tex</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>\$\$</string>
			<key>end</key>
			<string>\$\$</string>
			<key>name</key>
			<string>string.other.math.block.tex</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>source.math.tex</string>
				</dict>
				<dict>
					<key>include</key>
					<string>$self</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>match</key>
			<string>\\\\</string>
			<key>name</key>
			<string>keyword.operator.newline.tex</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>\$</string>
			<key>end</key>
			<string>\$</string>
			<key>name</key>
			<string>string.other.math.tex</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>source.math.tex</string>
				</dict>
				<dict>
					<key>include</key>
					<string>$self</string>
				</dict>
			</array>
			<key>swallow</key>
			<string>\\\$</string>
		</dict>
		<dict>
			<key>match</key>
			<string>(\\[A-Za-z]+)(?![a-zA-Z])</string>
			<key>name</key>
			<string>support.function.general.tex</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\\[^a-zA-Z]</string>
			<key>name</key>
			<string>keyword.tex.general</string>
		</dict>
		<dict>
			<key>match</key>
			<string>«press a-z and space for greek letter»[a-zA-Z]*</string>
			<key>name</key>
			<string>meta.placeholder.greek.tex</string>
		</dict>
	</array>
	<key>scopeName</key>
	<string>source.tex</string>
	<key>uuid</key>
	<string>6BC8DE6F-9360-4C7E-AC3C-971385945346</string>
</dict>
</plist>
