<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env ruby
require ENV["TM_SUPPORT_PATH"] + "/lib/exit_codes.rb"
require ENV["TM_SUPPORT_PATH"] + "/lib/dialog.rb"
phrase = STDIN.read
CMD = '"$TM_SUPPORT_PATH/bin"/LatexCitekeys.rb -full=true ' + (phrase == "" ? "" : "-p=#{phrase} " ) + '"$TM_LATEX_BIB" "$TM_LATEX_MASTER" "$TM_FILEPATH"'
res = `#{CMD}`
TextMate.exit_discard if res == ""
items = res.scan(/'(.*?)'(,|\z)/).map{|i| i[0]}
choice = items[0]
if items.length &gt; 1
	choice = Dialog.menu(items)
	TextMate.exit_discard if choice.nil?
	choice = items[choice]
end
print choice.slice(/^[^%]+/).strip
</string>
	<key>fallbackInput</key>
	<string>word</string>
	<key>input</key>
	<string>selection</string>
	<key>keyEquivalent</key>
	<string>~</string>
	<key>name</key>
	<string>Bibliography Completion</string>
	<key>output</key>
	<string>replaceSelectedText</string>
	<key>scope</key>
	<string>meta.citation.latex</string>
	<key>uuid</key>
	<string>65E2109C-4309-4079-BD25-17D8B31F03CD</string>
</dict>
</plist>
