<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env bash
[[ -f "${TM_SUPPORT_PATH}/lib/bash_init.sh" ]] &amp;&amp; . "${TM_SUPPORT_PATH}/lib/bash_init.sh"

. "${TM_SUPPORT_PATH}/lib/webpreview.sh"

# Prepare output window
html_header 'Clean Auxiliary Files'

texmate.py clean</string>
	<key>input</key>
	<string>none</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>keyEquivalent</key>
	<string>^~</string>
	<key>name</key>
	<string>Clean</string>
	<key>outputCaret</key>
	<string>afterOutput</string>
	<key>outputFormat</key>
	<string>html</string>
	<key>outputLocation</key>
	<string>newWindow</string>
	<key>requiredCommands</key>
	<array>
		<dict>
			<key>command</key>
			<string>kpsewhich</string>
			<key>locations</key>
			<array>
				<string>/Library/TeX/texbin/kpsewhich</string>
				<string>/usr/texbin/kpsewhich</string>
				<string>/opt/local/bin/kpsewhich</string>
			</array>
		</dict>
	</array>
	<key>scope</key>
	<string>text.tex.latex</string>
	<key>uuid</key>
	<string>F330276E-C4B2-11D9-B15D-000D93B6E43C</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
