<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>captureFormatString</key>
	<string>$3</string>
	<key>capturePattern</key>
	<string>^([^:]*):([^:]*):(.*)$</string>
	<key>command</key>
	<string># Search the current document for \label{…} declarations and 
# show these in a list, from which the user can pick.
# Also search in files \include'd in the file pointed to 
# by the TM_LATEX_MASTER variable.

var=`echo $TM_CURRENT_WORD|grep -v '}'`
list=`ruby -- "$TM_BUNDLE_PATH/Support/bin/labelList.rb"`
#list=`grep "\\label{$var.*}"|perl -pe 's/.*\\label\{(.*?)\}(.*)\n/"$1 : $2",/'|sed 's|\\\\||g'`
res=`osascript &lt;&lt;EOF
	tell application "System Events"
		activate
		choose from list { ${list:0:${#list}-1} }
	end tell
EOF`
osascript -e 'tell app "TextMate" to activate' &amp;&gt;/dev/null &amp;
res2=`sed &lt;&lt;&lt;$res 's/^.* : \(.*\)$/\1/'`
echo -n ${res2#${var}}</string>
	<key>fileCaptureRegister</key>
	<string>1</string>
	<key>input</key>
	<string>document</string>
	<key>keyEquivalent</key>
	<string>^~</string>
	<key>lineCaptureRegister</key>
	<string>2</string>
	<key>name</key>
	<string>Enhanced Insert Label From Document…</string>
	<key>output</key>
	<string>afterSelectedText</string>
	<key>scope</key>
	<string>meta.ref-or-label</string>
	<key>uuid</key>
	<string>9A3FE182-40AB-4980-AB6C-32DDA22DE41D</string>
</dict>
</plist>
