<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/bin/bash

[[ -f "${TM_SUPPORT_PATH}/lib/bash_init.sh" ]] &amp;&amp; \
    . "${TM_SUPPORT_PATH}/lib/bash_init.sh"

. "$TM_SUPPORT_PATH/lib/webpreview.sh"

html_header "LaTeX Bundle Help" "LaTeX"
echo "&lt;meta http-equiv='refresh' content='0; 
      tm-file:///${TM_BUNDLE_SUPPORT}/Help/Help.pdf'&gt;"
html_footer
</string>
	<key>input</key>
	<string>none</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>name</key>
	<string>Help</string>
	<key>outputCaret</key>
	<string>afterOutput</string>
	<key>outputFormat</key>
	<string>html</string>
	<key>outputLocation</key>
	<string>newWindow</string>
	<key>scope</key>
	<string>text.tex.latex</string>
	<key>uuid</key>
	<string>37B43A9E-AD5E-11D9-97B0-000D93B6E43C</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
