<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env ruby
require "#{ENV['TM_SUPPORT_PATH']}/lib/plist"
file = File.expand_path('~/Library/Preferences/com.macromates.textmate.latex_config.plist')
if !FileTest.exist?(file) then
  file = ENV['TM_BUNDLE_SUPPORT'] + "/latex_config.plist"
end

File.open(file) do |f|
  @plist = PropertyList::load(f)
end
shortcuts = @plist['environments']
lshortcuts = @plist['labeled_environments']
if ENV['TM_SCOPE'].match('beamer') then
  shortcuts.update(@plist['environments_beamer'])
  lshortcuts.update(@plist['labeled_environments_beamer'])
end
name = STDIN.read
cmd = nil
for key in shortcuts.keys do
  if shortcuts[key]['triggers'].index(name) then
    cmd = key
    setting = :no_label
    dict = shortcuts
  end
end
for key in lshortcuts.keys do
  if lshortcuts[key]['triggers'].index(name) then
    cmd = key
    setting = :label
    dict = lshortcuts
  end
end
if !cmd.nil? then
  print "\\begin{#{cmd}}"
  print "\n" if setting == :no_label
  print dict[cmd]["content"]
  print "\n\\end{#{cmd}}"
elsif name == ""
  print "\\begin{${1:env}}\n\t$0\n\\end{${1:env}}"
else
  print "\\begin{#{name}}\n\t$0\n\\end{#{name}}"
end
</string>
	<key>fallbackInput</key>
	<string>word</string>
	<key>input</key>
	<string>selection</string>
	<key>keyEquivalent</key>
	<string>@{</string>
	<key>name</key>
	<string>Environment Based on Current Word</string>
	<key>output</key>
	<string>insertAsSnippet</string>
	<key>scope</key>
	<string>text.latex</string>
	<key>uuid</key>
	<string>521C9FC0-0B61-48C8-A76B-60A4AE8DF449</string>
</dict>
</plist>
