<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/ruby

# Phase 2: .... ....

# These should be arguments.
begin_match	= /^\\begin\{(.+)\}/
end_match		= /^\\end\{(.+)\}/
closer		= '\end{%1}'

# Do the nesting thang.
stack = []
line = 1
num = ENV['TM_LINE_NUMBER'].to_i
while line&lt;num and s=gets
	if s =~ begin_match
		stack.push $1
	elsif s =~ end_match and $1 == stack[-1]
		stack.pop
	end
	line += 1
end

# Insert correct closer.
puts closer.sub('%1', e) if e = stack.pop
</string>
	<key>input</key>
	<string>document</string>
	<key>keyEquivalent</key>
	<string>~@.</string>
	<key>name</key>
	<string>Insert environment closer</string>
	<key>output</key>
	<string>replaceSelectedText</string>
	<key>scope</key>
	<string>text.latex</string>
	<key>uuid</key>
	<string>D52CA669-A6DA-4CF1-BDF5-522D591D7E7D</string>
</dict>
</plist>
