<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env ruby
#
# Produces the right enumeration command for each environment.
# For instance in a itemize environment, will produce \item
# while in a questions environment will produce \question
#
linesbefore = ENV['TM_LINE_NUMBER'].to_i-1
columns = ENV['TM_COLUMN_NUMBER'].to_i-1
textArray = STDIN.readlines
myStr = textArray[0..linesbefore-1].join
myStr &lt;&lt; textArray[linesbefore].slice(0..columns-1)
theArray = Array.new
theRegexp = Regexp.new('(\\\begin\{|\\\end\{)(\w+[*]?)(\})')
toInsert = { "itemize" =&gt; "\\item $1", "enumerate" =&gt; "\\item $1", "description" =&gt; "\\item[${1:label}] ${2:description}", "parts" =&gt; "\\part $1", "questions" =&gt; "\\question $1" }
results = myStr.scan(theRegexp)
if (results)
  results.each{|e|
    if (e[0] == "\\begin\{")
      theArray &lt;&lt; e[1]
    elsif (e[0] == "\\end\{")
      if (theArray.last == e[1])
        theArray.pop
      else
        puts("Badly nested begin-end blocks")
        exit 1
      end
    else
      puts("Problem:",e[0])
      exit 1
    end
  }
  envName = theArray.pop
  puts("")
  if (toInsert.has_key?(envName))
    puts(toInsert[envName])
  else
    puts("\\item $1")
  end
else
  puts("No match!")
end</string>
	<key>input</key>
	<string>document</string>
	<key>keyEquivalent</key>
	<string>⌅</string>
	<key>name</key>
	<string>Insert Item Based on Current Environment</string>
	<key>output</key>
	<string>insertAsSnippet</string>
	<key>scope</key>
	<string>text.latex meta.environment</string>
	<key>uuid</key>
	<string>948DDCF2-0EB5-46A3-B970-09597D268BAF</string>
</dict>
</plist>
