<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env ruby18
require "#{ENV['TM_BUNDLE_SUPPORT']}/lib/Ruby/configuration.rb"
@plist = Configuration.load
shortcuts = @plist['commands']
if ENV['TM_SCOPE'].match('beamer') then
  shortcuts.update(@plist['commands_beamer'])
end
name = STDIN.read
if (shortcuts.has_key?(name)) then
  print shortcuts[name]
elsif name.nil?
  print "\\${1:cmd}{$2} "
else
  print "\\" + name + "{$1} "
end
</string>
	<key>fallbackInput</key>
	<string>word</string>
	<key>input</key>
	<string>selection</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>keyEquivalent</key>
	<string>^&gt;</string>
	<key>name</key>
	<string>Command Based on Current Word / Selection</string>
	<key>outputCaret</key>
	<string>afterOutput</string>
	<key>outputFormat</key>
	<string>snippet</string>
	<key>outputLocation</key>
	<string>replaceInput</string>
	<key>scope</key>
	<string>text.tex.latex</string>
	<key>uuid</key>
	<string>79EBE164-2318-4563-83E5-F337588AAC73</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
