<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>saveModifiedFiles</string>
	<key>command</key>
	<string># Source some support functions we need.
. "${TM_SUPPORT_PATH}/lib/html.sh"

# Get the viewer program. Any program (that works with open -a &lt;name&gt;) can be used,
# except 'html' which is reserved to mean the internal HTML window. This is also the
# default option.
V=${TM_LATEX_VIEWER:=html}

# Set up some variables we need.
TEX=${TM_LATEX_COMPILER:=pdflatex}
EL=${TM_LATEX_ERRLVL:=1}
M=${TM_LATEX_MASTER:=$TM_FILEPATH}
DIR=`dirname "$M"`
FILE=`basename "$M"`
PDF="${FILE%.tex}.pdf"
CWD="`pwd`/"

# Switch to the right directory.
cd "$TM_PROJECT_DIRECTORY"
cd "$DIR"

# Prepare output window.
htmlHeader "Compiling LaTeX (file $FILE)"
echo '&lt;h1&gt;Compiling LaTeX...&lt;/h1&gt;'

# Check if we actually have a tex compiler
require_cmd "$TEX" "You can either set the &lt;tt&gt;TM_LATEX_COMPILER&lt;/tt&gt; variable to the full path of your LaTeX compiler (e.g. &lt;tt&gt;/opt/local/bin/pdflatex&lt;/tt&gt; or set the &lt;tt&gt;PATH&lt;/tt&gt; variable to include the path of &lt;tt&gt;pdflatex&lt;/tt&gt;."


run_tex () {
if [ "$TEX" != latexmk.pl ]
	then "$TEX" ${TM_LATEX_OPTIONS:=-interaction=nonstopmode -file-line-error-style} "$1"
	else "$TEX" -f -r "${TM_BUNDLE_SUPPORT}/latexmkrc" "$1"
fi
}

# Compile.
run_tex "$FILE" 2&gt;&amp;1| latexErrWarnHtml.py -v
RC=$?

# If there is output and it's newer than the current document, then we go directly to preview or link to it.
if [ "$V" == html ]; then
	if [ -s "${PDF}" -a "$PDF" -nt "$FILE" ]; then
		WEB_LOC="tm-file://${DIR}/${PDF}"
		WEB_LOC="${WEB_LOC//\\#/%23}"
		if (($RC &gt; $EL)); then
			link "${WEB_LOC}" 'Click Here to Preview'
		else
			redirect "${WEB_LOC}"
		fi
	else
		strong "Error: PDF file not written to disk"
	fi
	htmlFooter
else
	open -a "$V" "$PDF"
	if (($RC &lt;= $EL)); then closeWindow; fi
fi
</string>
	<key>dontFollowNewOutput</key>
	<false/>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>@b</string>
	<key>name</key>
	<string>Typeset &amp; View (PDF)</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>scope</key>
	<string>text.latex</string>
	<key>uuid</key>
	<string>6177C3DA-C580-11D9-B649-000393D4B5C8</string>
</dict>
</plist>
