<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string># We default to HTML output, if nothing else selected.
# Valid choices are: html, preview, texniscope.
V=${TM_LATEX_VIEWER:=preview}

# Set up some variables we need.
TEX=${TM_TEX:=pdflatex}
OPTIONS=${TM_TEX_OPTIONS:=-interaction=nonstopmode -file-line-error-style}
EL=${TM_TEX_ERRLVL:=0}
M=${TM_LATEX_MASTER:=$TM_FILEPATH}
DIR=`dirname "$M"`
FILE=`basename "$M"`
PDF="${FILE%.tex}.pdf"
CWD="`pwd`/"

# Switch to the right directory.
cd "$TM_PROJECT_DIRECTORY"
cd "$DIR"

# Prepare output window.
cat &lt;&lt;"EOF"
	&lt;html&gt;&lt;head&gt;&lt;style&gt;
	*       { color: #998; }
	strong  { color: #000; }
	a       { color: #000; text-decoration: none; }
	a:hover { color: #000; text-decoration: underline; }
	&lt;/style&gt;&lt;/head&gt;&lt;body&gt;&lt;pre&gt;
EOF

# Function to generate JavaScript.
javaScript() {
	echo '&lt;script type="text/javascript"&gt;'$1';&lt;/script&gt;'
}

# Function to execute some JavaScript code, after a timeout. Defaults to 1 second.
delayedExec() {
	javaScript "setTimeout('$1', $2)"
}

# Function to make the HTML window close after a short delay.
closeWin() {
	delayedExec 'window.close();' 1000
}

# Function to redirect the HTML view to an URL.
toURL() {
	javaScript 'document.url="'$1'"'
}

# Function to redirect the HTML view to a local file.
toFile() {
	toURL "file://$1"
}

# Function to close window if the error level is low enough.
close() {
	if (($RC &lt;= $EL)); then closeWin; fi
}

# Compile. Bail out on errors.
"$TEX" $OPTIONS "$FILE" | "$TM_BUNDLE_PATH/latexErrWarnHtml.py"
RC=$?
if (($RC &gt;= 2)); then exit; fi

# View...
case $V in

html)
	echo 'HTML view is not supported yet, but will be soon!'
	#toFile "$CWD$FILE"
;;

preview)
	open "$PDF"
	close
;;

texniscope)
	open -a TeXniscope "$PDF"
	close
;;

esac
</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string></string>
	<key>name</key>
	<string>LaTeX and view</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>scope</key>
	<string>text.latex</string>
	<key>uuid</key>
	<string>6177C3DA-C580-11D9-B649-000393D4B5C8</string>
</dict>
</plist>
