<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>saveActiveFile</string>
	<key>command</key>
	<string># this requires pdflatex Web2C 7.5.3
# for preview you also need the PDF Browser Plugin

cat &lt;&lt;"EOF"
   &lt;html&gt;&lt;head&gt;&lt;style&gt;
   *       { color: #998; }
   strong  { color: #000; }
   a       { color: #000; text-decoration: none; }
   a:hover { color: #000; text-decoration: underline; }
   &lt;/style&gt;&lt;/head&gt;&lt;body&gt;&lt;pre&gt;
EOF

# If TM_LATEX_MASTER not set use TM_FILEPATH
[ -z "$TM_LATEX_MASTER" ] &amp;&amp;
  export TM_LATEX_MASTER="$TM_FILEPATH"
export LATEX_OUTFILE=`basename -s.tex "$TM_LATEX_MASTER"`

cd "`dirname "$TM_LATEX_MASTER"`"
"${TM_TEX:=pdflatex}" -interaction=nonstopmode -file-line-error-style \
  -halt-on-error `basename "$TM_LATEX_MASTER"` \
  | "$TM_BUNDLE_PATH"/latexErrWarnHtml.py
  

echo "&lt;/pre&gt;"

# If PDF file is non-empty and apache is running, redirect.
# Also need to check for errors/warnings to optionally wait before going on to pdfoutput

if [ -s ${LATEX_OUTFILE}.pdf ] &amp;&amp; [[ $(ps -xca|grep httpd) ]]; then
   FILE_LOC="${PDFTEX_FILE_LOCATION:-~/Sites}/web_kit_workaround.pdf"
   WEB_LOC="${PDFTEX_WEB_LOCATION:-http://localhost/~$USER}/web_kit_workaround.pdf"
   cp "$LATEX_OUTFILE.pdf" "${FILE_LOC}"
   chmod 666 "${FILE_LOC}"
   if [ ${TM_LATEX_PAUSE:='yes'} == 'no' ]; then 
       echo "&lt;script&gt;window.location='${WEB_LOC}'&lt;/script&gt;"
   fi
elif [ -s ${tmp}.pdf ]; then
   echo "&lt;strong&gt;Error: Apache not running (we can no longer redirect to file://localhost/...)&lt;/strong&gt;"
else
   echo "&lt;strong&gt;Error: PDF file not written to disk&lt;/strong&gt;"
fi
# TODO:  Need a better way to clean up the web_kit_workaround.pdf in ~/Sites
#{ sleep 30; rm ${tmp} ${tmp}.*; } &amp;&gt;/dev/null &amp;
</string>
	<key>input</key>
	<string>document</string>
	<key>keyEquivalent</key>
	<string></string>
	<key>name</key>
	<string>PDF LaTeX</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>scope</key>
	<string>text.latex</string>
	<key>uuid</key>
	<string>2966CE09-732E-11D9-AE5C-000D93589AF6</string>
</dict>
</plist>
