<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>saveActiveFile</string>
	<key>command</key>
	<string>#!/usr/bin/env bash
[[ -f "${TM_SUPPORT_PATH}/lib/bash_init.sh" ]] &amp;&amp; \
. "${TM_SUPPORT_PATH}/lib/bash_init.sh"

TM_TEX_CUR_DIR=$(dirname "${TM_FILEPATH}")
OPTIONS=($TM_TEXCOUNT_OPTIONS)
texcount -nocol -utf8 -inc "${OPTIONS[@]}" -dir="${TM_TEX_CUR_DIR}" - &lt; "$TM_FILEPATH"</string>
	<key>input</key>
	<string>none</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>keyEquivalent</key>
	<string>^N</string>
	<key>name</key>
	<string>TeXcount</string>
	<key>outputCaret</key>
	<string>afterOutput</string>
	<key>outputFormat</key>
	<string>text</string>
	<key>outputLocation</key>
	<string>toolTip</string>
	<key>scope</key>
	<string>text.tex.latex</string>
	<key>uuid</key>
	<string>361BC324-8D67-4E03-8939-824D4D65916B</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
