<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string># If TM_LATEX_MASTER not set use TM_FILEPATH
[ -z "$TM_LATEX_MASTER" ] &amp;&amp; export TM_LATEX_MASTER="$TM_FILEPATH"

# Switch to the right directory.
cd "$TM_PROJECT_DIRECTORY"
cd "`dirname "$TM_LATEX_MASTER"`"
FILE=`basename -s.tex "$TM_LATEX_MASTER"`

rm -f "$FILE".aux
rm -f "$FILE".pdfsync
rm -f "$FILE".mtc*
rm -f "$FILE".log
rm -f "$FILE".bbl
rm -f "$FILE".aux
rm -f "$FILE".toc
rm -f "$FILE".bmt
rm -f "$FILE".out
rm -f "$FILE".nav
rm -f "$FILE".snm
rm -f "$FILE".vrb
rm -f "$FILE".blg
rm -f "$FILE".aux.bak
rm -f ~/Sites/web_kit_workaround.pdf

echo "Done Cleaning up"</string>
	<key>input</key>
	<string>selection</string>
	<key>keyEquivalent</key>
	<string>^~</string>
	<key>name</key>
	<string>Trash aux Files</string>
	<key>output</key>
	<string>showAsTooltip</string>
	<key>scope</key>
	<string>text.tex.latex</string>
	<key>uuid</key>
	<string>F330276E-C4B2-11D9-B15D-000D93B6E43C</string>
</dict>
</plist>
