<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>saveActiveFile</string>
	<key>bundleUUID</key>
	<string>46788DCE-6227-11D9-BFB1-000D93589AF6</string>
	<key>command</key>
	<string>#!/usr/bin/env ruby18
# coding: utf-8

require ENV["TM_SUPPORT_PATH"] + "/lib/tm/process"
require ENV["TM_SUPPORT_PATH"] + "/lib/tm/htmloutput"
require ENV["TM_SUPPORT_PATH"] + "/lib/tm/save_current_document"

# To enable the typesetting of unsaved documents, you must change the “Save” setting of
# this command to “Current File” and add the variable TM_LATEX_AUTOSAVE to TextMate's
# Shell Variables preferences. Be warned that your document must be encoded as UTF-8 if
# you excercise this option — becauseTextMate.save_current_document cannot know the file
# encoding you prefer.

TextMate.save_current_document unless ENV["TM_LATEX_AUTOSAVE"].nil?

texmate = ENV["TM_BUNDLE_SUPPORT"] + "/bin/texmate.py"
engine_version = TextMate::Process.run(texmate, "version")
TextMate::HTMLOutput.show(:title =&gt; "Typesetting “#{ENV["TM_DISPLAYNAME"] || File.basename(ENV["TM_FILEPATH"])}”…", :sub_title =&gt; engine_version) do |io|
  TextMate::Process.run(texmate, 'latex', :interactive_input =&gt; false) do |line|
	io &lt;&lt; line
  end
end
::Process.exit($?.exitstatus || 0) # exitstatus is nil if our process is prematurely terminated (SIGINT)
</string>
	<key>dontFollowNewOutput</key>
	<false/>
	<key>input</key>
	<string>document</string>
	<key>keyEquivalent</key>
	<string>@r</string>
	<key>name</key>
	<string>Typeset &amp; View (PDF)</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>requiredCommands</key>
	<array>
		<dict>
			<key>command</key>
			<string>kpsewhich</string>
			<key>locations</key>
			<array>
				<string>/Library/TeX/texbin/kpsewhich</string>
				<string>/usr/texbin/kpsewhich</string>
				<string>/opt/local/bin/kpsewhich</string>
			</array>
		</dict>
	</array>
	<key>scope</key>
	<string>text.tex</string>
	<key>semanticClass</key>
	<string>process.run.tex</string>
	<key>uuid</key>
	<string>6177C3DA-C580-11D9-B649-000393D4B5C8</string>
</dict>
</plist>
