<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>cd "$TM_BUNDLE_PATH"
cat README.html</string>
	<key>dontFollowNewOutput</key>
	<true/>
	<key>input</key>
	<string>none</string>
	<key>name</key>
	<string>View README</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>uuid</key>
	<string>37B43A9E-AD5E-11D9-97B0-000D93B6E43C</string>
</dict>
</plist>
