<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>#!/usr/bin/env ruby
require 'pathname'
filename = Pathname.new(ENV['TM_DROPPED_FILE'])
dir = ENV['TM_DIRECTORY'] || ""
filename = filename.relative_path_from(Pathname.new(dir)) if dir != ""
case ENV['TM_MODIFIER_FLAGS']
when /OPTION/
	puts ["\\\\begin{center}",
	" \\\\includegraphics[height=\${1:3in}]{#{filename}}",
"\\\\end{center}"].join("\n")
when /SHIFT/
  puts "\\\\includegraphics[height=\${1:3in}]{#{filename}}"
else
  puts ["\\\\begin{figure}[\${1:htbp}]",
"	\\\\begin{center}",
"		\\\\includegraphics[height=\${2:3in}]{#{filename}}",
"	\\\\end{center}",
"	\\\\caption{\${4:caption}}",
"	\\\\label{fig:\${5:label}}",
"\\\\end{figure}"].join("\n")
end</string>
	<key>draggedFileExtensions</key>
	<array>
		<string>jpg</string>
		<string>jpeg</string>
		<string>pdf</string>
		<string>eps</string>
	</array>
	<key>name</key>
	<string>Include Image</string>
	<key>output</key>
	<string>insertAsSnippet</string>
	<key>scope</key>
	<string>text.tex.latex</string>
	<key>uuid</key>
	<string>2C5B80BC-C9C8-11D9-B88C-000A95C0F626</string>
</dict>
</plist>
