<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>if [[ -z $TM_DIRECTORY ]]
	then filename=$TM_DROPPED_FILE
	else 
		filename=${TM_DROPPED_FILE#${TM_DIRECTORY}}
fi
echo "\\\\include{$filename}"</string>
	<key>draggedFileExtensions</key>
	<array>
		<string>tex</string>
	</array>
	<key>name</key>
	<string>Include File</string>
	<key>output</key>
	<string>insertAsSnippet</string>
	<key>scope</key>
	<string>text.tex.latex</string>
	<key>uuid</key>
	<string>5C321350-C9CD-11D9-B88C-000A95C0F626</string>
</dict>
</plist>
