<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commands</key>
	<array>
		<dict>
			<key>command</key>
			<string>selectWord:</string>
		</dict>
		<dict>
			<key>argument</key>
			<dict>
				<key>action</key>
				<string>replace</string>
				<key>findInProjectIgnoreCase</key>
				<true/>
				<key>findString</key>
				<string>(.*)</string>
				<key>ignoreCase</key>
				<false/>
				<key>regularExpression</key>
				<true/>
				<key>replaceAllScope</key>
				<string>selection</string>
				<key>replaceString</key>
				<string>\\texttt{$1}</string>
				<key>wrapAround</key>
				<false/>
			</dict>
			<key>command</key>
			<string>findWithOptions:</string>
		</dict>
	</array>
	<key>keyEquivalent</key>
	<string>^C</string>
	<key>name</key>
	<string>Current Word to texttt</string>
	<key>scope</key>
	<string>text.latex</string>
	<key>scopeType</key>
	<string>local</string>
	<key>uuid</key>
	<string>5136524A-A3E3-4EF7-B7E1-F7ED68E775C6</string>
</dict>
</plist>
